In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

In [4]:
df = pd.read_csv('test_fhx.csv',encoding='gbk')

In [6]:
df

       ID class  dmg sex
0   10001    近战  782   男
1   10002    近战  146   女
2   10003    近战  256   女
3   10004    近战  511   男
4   10005    近战  457   男
..    ...   ...  ...  ..
94  10095    远战  766   女
95  10096    远战  179   男
96  10097    远战  570   男
97  10098    远战  658   女
98  10099    远战  801   女

[99 rows x 4 columns]

In [7]:
group_obj = df.groupby("class")

In [9]:
# 查看分组对象的信息
group_obj.groups

{'近战': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60], '远战': [61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98]}

In [12]:
# 聚合只保留可运算的列
avg = group_obj.mean()

C:\Windows\Temp\ipykernel_14580\34035779.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg = group_obj.mean()

In [11]:
# 使用 group_obj.agg({"high_growth":"mean","hp_max":"max"}) 可使用不同的聚合函数。
group_obj.mean()["dmg"]

C:\Windows\Temp\ipykernel_14580\1026030959.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  group_obj.mean()["dmg"]

class
近战    543.032787
远战    570.078947
Name: dmg, dtype: float64

In [13]:
avg

            ID         dmg
class
近战     10031.0  543.032787
远战     10080.5  570.078947

In [14]:
pd.merge(df,avg,left_on="class",right_index=True,suffixes=["","_avg"])

       ID class  dmg sex   ID_avg     dmg_avg
0   10001    近战  782   男  10031.0  543.032787
1   10002    近战  146   女  10031.0  543.032787
2   10003    近战  256   女  10031.0  543.032787
3   10004    近战  511   男  10031.0  543.032787
4   10005    近战  457   男  10031.0  543.032787
..    ...   ...  ...  ..      ...         ...
94  10095    远战  766   女  10080.5  570.078947
95  10096    远战  179   男  10080.5  570.078947
96  10097    远战  570   男  10080.5  570.078947
97  10098    远战  658   女  10080.5  570.078947
98  10099    远战  801   女  10080.5  570.078947

[99 rows x 6 columns]

In [16]:
df.groupby("class")["dmg"].mean()

class
近战    543.032787
远战    570.078947
Name: dmg, dtype: float64