In [30]:
import pandas as pd
import numpy  as np
from pandas import Series,DataFrame

# 1.空值

## （1）处理丢失数据
  - None
  - np.nan(NaN)

In [2]:
type(None)

NoneType

In [10]:
# NaN不能参与运算，只是一个展示符号。
# 表示一个空值要是用np.nan
type(np.nan)

float

In [11]:
# np.nan和任何数运算，得到的结果还是nan
np.nan + 1

nan

In [13]:
# None是Python自带的，其类型为python object。因此，None不参与到任何计算中。
# object类型的运算和比int类型的运算要慢的多。
%timeit np.arange(1e5,dtype=object).sum()

3.42 ms ± 38.3 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [14]:
%timeit np.arange(1e5,dtype=int).sum()

75 µs ± 169 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [16]:
#pandas中None与np.nan都视作np.nan
s_1 = Series(data=np.random.randint(0,10,size=(5)))
s_1

0    8
1    9
2    9
3    1
4    3
dtype: int32

In [20]:
s_1.loc[1] = None

In [21]:
s_1

0    8.0
1    NaN
2    9.0
3    1.0
4    3.0
dtype: float64

In [23]:
df_1 = DataFrame(data=np.random.randint(0,10,size=(3,3)),columns=list("ABC"))
df_1

   A  B  C
0  7  6  0
1  0  1  5
2  9  6  7

In [24]:
# 查看DataFrame的每一列数据的元素类型
df_1.dtypes

A    int32
B    int32
C    int32
dtype: object

## （2）pandas中None与np.nan的操作

In [25]:
df_1.loc[1,"A"]=None
df_1

     A  B  C
0  7.0  6  0
1  NaN  1  5
2  9.0  6  7

In [26]:
df_1["A"].isnull()

0    False
1     True
2    False
Name: A, dtype: bool

In [27]:
# 查看列方向是否存在空值
df_1.isnull().any()

A     True
B    False
C    False
dtype: bool

In [28]:
# 查看行方向是否存在空值
df_1.isnull().any(axis=1)

0    False
1     True
2    False
dtype: bool

In [29]:
# dropna()默认删除空值所在的行
# axis控制删除的方向
# how可以取值 any 或者 all 。
df_1.dropna()

     A  B  C
0  7.0  6  0
2  9.0  6  7

In [32]:
df_1.fillna(88)

      A  B  C
0   7.0  6  0
1  88.0  1  5
2   9.0  6  7